.home {
    margin: 0 auto;
    width: 80vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.navbar {
    font-weight: bold;
}

.buttonsContainer {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.titleContainer {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
}