.customButton {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    background-color: #005ff983;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.customButton:hover {
    cursor: pointer;
}

.disabled {
    background-color: #e7f0ff;
    color: #005ff981;
}

.enabled {
    background-color: #005ff9;
    color: white;
}

Form .customButton {
    margin-top: 10px;
}

.navbar .customButton {
    width: auto;
    margin-right: 10px;
    color: #000;
    background-color: white;
}