.customForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    min-height: 50%;
    background-color: #fff;
    border-radius: 20px;
}

.customForm--title {
    font-weight: bold;
}

@media (min-width: 600px) {
    .customForm {
        padding: 80px 20px;
    }
}