.formsContainer .customForm {
    height: 100%;
}

.customForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    min-height: 50%;
    background-color: #fff;
    border-radius: 20px;
}

.customForm--title {
    font-weight: bold;
    font-size: 25px;
}

.backButton {
    width: 40px;
    height: 40px;
    align-self: flex-end;
    background-image: url('https://img.icons8.com/plumpy/344/back--v1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media (min-width: 600px) {
    .customForm {
        padding: 80px 20px;
    }
}